#header {
text-align : center;
}
#form{
    margin-top:30%;
    text-align:center;
}
.right{
    text-align:right;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.allText {
    font-family:Roboto;
    color: #5ca33c;
}
.blackBackground {
    background-color: #f0f5e1;
}
.hidden{
    display:none;
}
#submit {
    background-color: #d1e8e2;
}
table, td, tr {
    border:solid;
    border-spacing : 0px;
    vertical-align:top;
}
#file-input-label {
    border: 1px solid black;
    border-radius: 4%;
}
.hide{
    display:none;
}
.show{
    display:block;
}
.notselect {
    user-select: none;
    text-align: center;
    width: 70px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d1e8e2;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}