#header {
text-align : center;
}
#indexBody {
    background-color: #535453;
}
#fname {
    background-color: #535458;
}
#password {
    background-color: #535458;
}
#form{
    margin-top:30%;
    text-align:center;
}
.right{
    text-align:right;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.allText {
    color: #5ca33c;
}
#submit {
    background-color: #535458;
}
table, td, tr {
    border:none;
}